<head>
<style>
span.candidate {
    background-color: rgba(255,255,0,0.3);
}

span.candidate-h {
    background-color: rgba(255,255,0,1.0);
}

span.true-candidate {
    background-color: rgba(92,184,92,0.3);
}

span.true-candidate-h {
    background-color: rgba(92,184,92,1.0);
}

span.false-candidate {
    background-color: rgba(169,68,66,0.3);
}

span.false-candidate-h {
    background-color: rgba(169,68,66,1.0);
}

span.highlighted {
    font-weight: bolder;
    box-shadow: 1px 1px 1px grey;
}

span.left-candidate {
    color: red;
}

span.right-candidate {
    color: blue;
}

span.gold-annotation {
    color: red;
}

span.highlighted-gold-annotation {
    background-color: rgba(217,83,79,0.5);
}

.panel-heading {
    position: relative;
}

.panel-footer {
    position: relative;
}

.panel-left-justify {
    position: absolute;
    right: 15px;
    top: 20px;
}

.viewer-page {
    display: none;
}

.help-text {
    color: gray;
    font-weight: 300;
}
</style>
</head>

<div id="viewer" class="viewer-pane panel panel-default" tabindex="0">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-eye fa-lg" aria-hidden="true"></i> Viewer</h3>
        <div id="candidate-caption" class="panel-left-justify"></div>
    </div>
    <div class="panel-body" style="height:%spx">%s</div>
    <div class="panel-footer">
        <div class="btn-group" role="group" aria-label="...">
            
            <!-- Previous page --!>
            <button id="prev-page" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="i">
                <i class="fa fa-arrow-up" aria-hidden="true"></i>
            </button>

            <!-- Previous context --!>
            <button id="prev-context" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="i">
                <i class="fa fa-step-backward" aria-hidden="true"></i>
            </button>

            <!-- Previous candidate --!>
            <button id="prev-cand" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="j">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>

            <!-- Next candidate --!>
            <button id="next-cand" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="l">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>

            <!-- Next context --!>
            <button id="next-context" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="k">
                <i class="fa fa-step-forward" aria-hidden="true"></i>
            </button>

            <!-- Next page --!>
            <button id="next-page" type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="k">
                <i class="fa fa-arrow-down" aria-hidden="true"></i>
            </button>
        </div>
        <div class="btn-group" role="group" aria-label="...">
            <button id="label-true" type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="t">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <button id="label-false" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="f">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <button id="label-auto-true" type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="t">
                <i class="fa fa-check" aria-hidden="true"></i>
            </button>
            <button id="label-auto-false" type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="a">
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
        &nbsp;&nbsp;&nbsp;
        <span class="help-text">Viewer must be focused for keyboard control</span>
        <div class="page-num panel-left-justify">Page <span id="page">0</span></div>
    </div>
</div>
